:root {
    --primary-bg: rgb(68, 80, 107);
    --card-bg: #fee9e1ff;
    --header-bg: #8fe388ff;
    --primary-text: #000000;
    --secondary-text: white;
    --page-margin: 50px; 
}

body {
    font-family: 'Inter Tight', sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#logo img {
    width: 250px;
    margin: 20px;
    transition: transform 0.3s ease;
}

#logo img:hover {
    transform: scale(1.1);
}

header {
    text-align: center;
    padding: 1rem 0;
    margin: var(--page-margin);
    border-radius: 30px;
}

img {
    border-color:#000000;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    box-shadow: 5px 5px 0px black;
}

a {
    color: #00e8fc;
    font-weight: 700;
}

a:hover {
    color: #38d7e6;
    font-weight: 700;
}

#hero h1 {
    font-family: 'Alatsi', sans-serif;
    font-size: 65px;
    text-align: center;
    color: var(--secondary-text);
    text-shadow: 0px 0px 10px #00e8fc;
}

#hero p {
    text-align: center;
    color: var(--secondary-text);
    font-size: 30px
}

#about p {
    color: var(--secondary-text);
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
}

 h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Alatsi', sans-serif;
    background: var(--header-bg);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: 0px 0px 15px black;
}

.heading {
    font-size: 25px;
    text-align: center;
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 16px;
}

strong {
    color:#00e8fc;
}

.card  {
    background: var(--card-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: 5px;
    border-color: black;
    margin: var(--page-margin);
    box-shadow: 15px 15px 0px black;
    border-style: solid;
}

section .body {
    background-color: rgb(241, 228, 223);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    margin: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
}

section .body:hover {
     transform: scale(1.01);
}


nav {
    background: var(--header-bg);   
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
    margin-left: 15rem;
    margin-right: 15rem;
}

nav a {
     color: rgb(5, 75, 228);
     margin: 10px;
     font-size: 20px
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    color: black;
    text-align: center;
}

nav ul li {
    display: block;
    margin: 5px 0;
}

nav ul ul li a {
    font-weight: normal;
    font-size: 15px;
}

#contact {
    color: var(--primary-text);
    
}

#contact p {
    color: var(--secondary-text);
    margin-left: var(--page-margin);
}

footer {
    background-color: #58bc82ff;
    padding-top: 50px;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
